/node_modules
**/node_modules

*/dist
/build
.DS_Store
.env

tsconfig.tsbuildinfo

# Jest globalConfig file
../globalConfig.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
